div.home{
    background: linear-gradient(to left bottom, hsl(90, 69%, 90%) 0%,hsl(150, 52%, 90%) 100%);
    /* height:calc(100vh); */
    height:auto;
    min-height: 100%;
    width:100%;
    }

div.container{
    width:100%;
}

nav a{
    padding-right:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}
nav a:hover{
    cursor:default;
    color:white;
}
.navbar{
    background: linear-gradient(to left bottom, hsl(150, 98%, 40%) 0%, hsl(90, 79%, 62%) 100%);
  
}
/* .active {
    box-shadow: 0 4px 8px 0 rgba(248, 15, 15, 0.945);
    transition: 0.3s;
} */

.navbar .navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size:x-large;
}

.navbar .navbar-brand:hover{
    color:hsl(61, 82%, 74%);
    transition-duration: 0.6s;
}

.navbar .form-inline{
    width:70%;
}


.collapse form input{
    width:50%;
    color: hsl(88, 100%, 39%);
    
}

::placeholder {
    color:gray;
    opacity: 0.8;
    font-family: Georgia, serif;
  }

.collapse form button{
    font-size:medium;
    color:hsl(61, 82%, 74%);
    background-color: hsl(88, 100%, 39%);
    font-family: Georgia, serif;
    outline: 0;
    
}


.collapse form button:hover{
    /* color:rgb(250, 200, 90); */
    color: hsl(61, 82%, 74%);
    transition-duration: 0.6s;
}


#nav-toggle{
    text-decoration: none;
    color:white;
}
.navbar .navbar-nav{
    /* background-color:black; */
}

.navbar .navbar-nav li{
    margin-right: 20px;
    
}

.navbar .navbar-nav li a{
    text-decoration: none;
    color:white;
    font-family: Georgia, serif;
}

.navbar .navbar-nav li a:hover{
    transition-duration: 0.6s;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;

}
/* ---------- nav bar*/


/* p{
    padding-left:40px;
    color:rgb(143, 1, 1);
    font-size:80px;
} */

.text-span{
    font-weight: bold;
}

.info{
    padding-left:40px;
    color:rgb(143, 1, 1);
    font-size:80px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    text-align: left;
}

.card-title{
    font:bold;
    font-size: x-large;
    border-bottom:2px solid gray;
}

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.pagination /deep/ .ngx-pagination .current {
background-color:rgba(238, 73, 73, 0.945);

}

.pagination /deep/ .ngx-pagination :hover {
background-color:rgba(98, 205, 255, 0.4);
}


button{
    height: auto;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-bottom:0px;
    
}

button:hover{
    opacity: 0.8;
}

input.quantity{
    width: 50%;
    height: 25px;
    border: 2px solid lightskyblue;
}

input:disabled.quantity{
    width: 50%;
    border:none;
}

input:disabled::-webkit-outer-spin-button,
input:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

img{
    height:340px;
}

ngb-alert{
    width:75%;
    text-align: center;
    margin-left:190px;
    margin-top:10px;
}