div.home{
    /* background: radial-gradient(ellipse at center, #edf1f5 1%, #14171a 95%);  */
    background-color: hsl(28, 97%, 43%);
    /* height:calc(100vh); */
    height:auto;
    min-height: 100%;
    width:100%;
    }

div.container{
    width:100%;
}

nav a{
    padding-right:16px;
    font-family: Georgia, serif;
    color:white;
}

.navbar{
    background-color:sienna;
    
}
/* .active {
    box-shadow: 0 4px 8px 0 rgba(248, 15, 15, 0.945);
    transition: 0.3s;
} */

.navbar .navbar-brand{
    color:white;
    font-family: Georgia, serif;
}

.navbar .navbar-brand:hover{
    color:rgb(250, 200, 90);
    transition-duration: 0.6s;
}

.navbar .form-inline{
    width:70%;
}


.collapse form input{
    width:50%;
    color: hsl(28, 97%, 43%);
    
}

::placeholder {
    color:gray;
    opacity: 0.8;
    font-family: Georgia, serif;
  }

.collapse form button{
    font-size:medium;
    color:white;
    background-color: hsl(28, 97%, 43%);
    font-family: Georgia, serif;
}
.collapse form button:hover{
    /* color:rgb(250, 200, 90); */
    color:rgb(252, 211, 125);
    transition-duration: 0.6s;
}


#nav-toggle{
    text-decoration: none;
    color:white;
}
.navbar .navbar-nav{
    /* background-color:black; */
}

.navbar .navbar-nav li{
    margin-right: 20px;
    
}

.navbar .navbar-nav li a{
    text-decoration: none;
    color:white;
    font-family: Georgia, serif;
}

.navbar .navbar-nav li a:hover{
    transition-duration: 0.6s;
    color:rgb(250, 200, 90);
}
/* ---------- nav bar*/


/* p{
    padding-left:40px;
    color:rgb(143, 1, 1);
    font-size:80px;
} */

.info{
    padding-left:40px;
    color:rgb(143, 1, 1);
    font-size:80px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
  }

  .pagination /deep/ .ngx-pagination .current {
    background-color:rgba(238, 73, 73, 0.945);
 
  }

  .pagination /deep/ .ngx-pagination :hover {
    background-color:rgba(98, 205, 255, 0.4);
  }


button{
    height: auto;
    border-radius: 2px;
}

input.quantity{
    width: 50%;
    height: 25px;
    border: 2px solid lightskyblue;
}

input:disabled.quantity{
    width: 50%;
    border:none;
}

input:disabled::-webkit-outer-spin-button,
input:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}