

<div class="home">

  <div [ngStyle]="setMessageStyles()" *ngIf="serveDisconnected">Serve Disconnected!!!</div>


  <div [ngStyle]="setMessageStyles()" *ngIf="emptyList">No items being sell!!!</div>
  <!-- products list-->
      <div class="container">
        <div class="row">

            <div class="col-sm-3 col-sm-3 p-4" *ngFor="let product of products;">
              <div class="card" style="width: 16rem; " >
                <!-- <img class="card-img-top card-img-top-250 one" src="data:image/png;base64, ${product.image}" alt="{{product.name}}"> -->
                <img class="card-img-top card-img-top-250 one" src="{{'data:image/png;base64,'+product.imgURL}}" alt="{{product.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">
                    <span class="text-span">Category:</span> {{product.category}} 
                    <br>
                    <span class="text-span">Condition:</span> {{product.condition}}
                    <br>
                    <span class="text-span">Price:</span> {{product.price | currency}}
                  </p>
                 
                  <!-- <button class="btn btn-primary" (click)="addToCart(product.id)">Add to Cart</button> -->
                
                </div>

              </div>
            </div>

            </div>
        </div>




</div>
