
<div class="main">
    <div class="back_icon">
        <span (click)="backClicked()">
            <!-- fix here -->
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </span>
    </div>

    <div class="container">
        <h2>Register</h2>
        
        <div *ngIf="error" [ngStyle]="{'color':'red'}">email Exits, please change new email address</div>
        <div *ngIf="userError" [ngStyle]="{'color':'red'}">User type is missing!</div>
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                
                <div class="row">
                    <div class="form-group" class="col-sm-6">
                        <label for="firstName">First Name:</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">first Name is required</div>
                        </div>
                    </div>
                    
                    <div class="form-group" class="col-sm-6">
                        <label for="lastName">Last Name:</label>
                        <input type="text" formControlName="lastName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>


                <br>

                    <div class="form-group">
                        <label for="emailID">Email:</label>
                        <input type="email" formControlName="emailID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailID.errors }"/>
                        <div *ngIf="submitted && f.emailID.errors" class="invalid-feedback">
                            <div *ngIf="f.emailID.errors.required">email is required</div>
                            <div *ngIf="f.emailID.errors.email">Email must be a valid email address</div>

                        </div>
                    </div>
            

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">password is required</div>
                            <div *ngIf="f.password.errors.minlength">password required min length of 6</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group" class="col-sm-8">
                            <label for="address">Address:</label>
                            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">address is required</div>
                            </div>
                        </div>

                        <div class="form-group" class="col-sm-4">
                            <label for="city">City:</label>
                            <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">city is required</div>
                            </div>
                        </div>
                    </div> 

                    <br>

                    <div class="row">
                        <div class="form-group" class="col-sm-4">
                            <label for="state">Select State:</label>
                            <select formControlName="state" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">stats is required</div>
                            </div>
                        </div>

                        <div class="form-group" class="col-sm-8">
                            <label for="zipCode">Zip Code:</label>
                            <input type="number" formControlName="zipCode" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }"/>
                            <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                                <div *ngIf="f.zipCode.errors.required">zip code is required</div>
                                <!-- <div *ngIf="f.zipCode.errors.minlength">zip code at least 5 digits</div>
                                <div *ngIf="f.zipCode.errors.pattern">zip code must be number</div> -->
                            </div>
                        </div>
                                
                    </div>


                    <br>
                    <div class="form-group">
                        <label for="phone-number">Phone number:</label>
                        <input type="tel" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"/>
                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phoneNumber.errors.required">phone number is required</div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <button  class="btn btn-primary">
                            Register
                        </button>
                        <!-- <a routerLink="/login" class="btn btn-link">Cancel</a> -->
                    </div>



        </form>

    </div>

</div>