div.home{
    /* background: radial-gradient(ellipse at center, #edf1f5 1%, #14171a 95%);  */
    background-color:rgb(241, 206, 241);
    width:100%;
    min-height: 100%;
}

div.container{
    width:100%;
}

.navbar{
    background-color:rgb(235, 154, 235);
}

nav a{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
/* .active {
    box-shadow: 0 4px 8px 0 rgba(248, 15, 15, 0.945);
    transition: 0.3s;
} */

.navbar .navbar-brand{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}

.navbar .navbar-brand:hover{
    color:rgb(250, 200, 90);
    transition-duration: 0.6s;
}

.navbar .user{
    cursor: default;
}

.navbar .user:hover{
    color:rgb(250, 200, 90);
    transition-duration: 0.6s;
    text-decoration: none;
}

.navbar .form-inline{
    width:70%;
}


.collapse form input{
    width:50%;
    color: hsl(28, 97%, 43%);
    
}

::placeholder {
    color:gray;
    opacity: 0.8;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.collapse form button{
    font-size:medium;
    color:white;
    background-color: hsl(28, 97%, 43%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.collapse form button:hover{
    /* color:rgb(250, 200, 90); */
    color:rgb(252, 211, 125);
    transition-duration: 0.6s;
}


#nav-toggle{
    text-decoration: none;
    color:white;
}
.navbar .navbar-nav{
    /* background-color:black; */
}

.navbar .navbar-nav li{
    margin-right: 20px;
    
}

.navbar .navbar-nav li a{
    text-decoration: none;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .navbar-nav li a:hover{
    transition-duration: 0.6s;
    color:rgb(250, 200, 90);
}

.active{
    background-color:rgba(110, 216, 235, 0.904);
    transition-duration: 0.2s;
}


.card{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.8);
    transition:0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}