<div class="main">
    
    <div class="back_icon">
        <span (click)="backClicked()">
            <!-- fix here -->
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </span>
    </div>

   <div class="container">
      <div class=logo>
        Xshop  <span>({{type}})</span>
      </div>
<!-- question in this form -->
        <div *ngIf="error" [ngStyle]="{'color':'red'}">{{errorMessage}}</div>
                     <form [formGroup]="loginForm" (ngSubmit)="login()">

                        <div class="form-group">
                           <!-- <label for="username">Username</label> -->
                           <input type="text" formControlName="emailID" class="form-control" Placeholder="emailID" [ngClass]="{ 'is-invalid': submitted && f.emailID.errors }" />
                           <div *ngIf="submitted && f.emailID.errors" class="invalid-feedback">
                               <div *ngIf="f.emailID.errors.required">emailID is required</div>
                           </div>
                       </div>
                       <div class="form-group">
                           <!-- <label for="password">Password</label> -->
                           <input type="password" formControlName="password" class="form-control" Placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                           <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                               <div *ngIf="f.password.errors.required">Password is required</div>
                           </div>
                       </div>


                           <!-- <p ><span class="fa fa-user"></span><input type="text"  Placeholder="Username" formControlName="username" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f.username.errors }"></p>
                           <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" formControlName="password" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></p> 
                             -->
                           
                             <div class="form-group" >
                                 <button type="submit" class="btn btn-outline-dark btn-block">Sign In</button>

                                 <span style="width:50%; text-align:left;  cursor: pointer;"><a class="small-text">Forgot password?</a></span>
                                 <br>
                                 <span style="width:60%; text-align:left;  cursor: pointer;"><a class="small-text" [routerLink]="['/register',type]" routerLinkActive="active">Don't have account? Register</a></span>
                              </div>

                     </form>

   </div>



</div>
