.main{
    width:100vw;
    background-color: black;
    height:100vh;
}


.container{
    width:40%;
    height: 60%;
    padding-top:10%;
    margin-top:10%;
}

.Logo{
    font-size: 250%;
    color:white;
    cursor:default;
}

/* .container .Logo a{
    color:rgb(252, 252, 252);
    cursor:default;
} */

.content{
    height: 40%;
}

button{
    border-radius: 12px;

}

