
<div class="main">
    <div class="container">
       
                <div class="Logo">
                    <span>X</span>shop
                </div>

                <div class="content">
                    
                    <button type="button" class="btn btn-outline-primary btn-block" (click)="adminLogin()">Admin</button>
                    <button type="button" class="btn btn-outline-success btn-block" (click)="customerLogin()">Customer</button>
                </div>
                

    </div>
</div>
