.main{
    width:100vw;
    height:100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(120,245,241,1) 0%, rgba(252,176,69,1) 100%);
}


.container{
    width:40%;
    height: 60%;
    padding-top:10%;
    margin-top:10%;
}

.container{
    padding-top:30px;
}

span{
    font-size: 125%;
    color:#ebe0f7;
    cursor:default;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Logo{
    font-size: 600%;
    /* color:#457dfc; */
    color:#ebe0f7;
    cursor:default;
    text-align: center;
    /* font-family:'Times New Roman', serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/* .container .Logo a{
    color:rgb(252, 252, 252);
    cursor:default;
} */

.content{
    height: 40%;
}

button{
    border-radius: 12px;
}

