.content{
    background-color: hsl(28, 97%, 43%);
    width:100vw;
    min-height:100vh;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
  }

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(255, 195, 195, 0.904);
}
.back_icon{
    width:80px;
    height: 80px;
    padding-top:20px;
}

svg:hover{
    color:lightskyblue;
    cursor:pointer;
}


.checkout-btn {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.checkout-btn:hover:enabled{
    box-shadow: 4px 4px 4px 4px rgba(15, 15, 15, 0.8);
    transition: 0.5s;
}

.checkout-btn:disabled{
    cursor: not-allowed;
    pointer-events: all !important;
}

.checkout-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

button{
    height: auto;
    border-radius: 2px;
}

input{
    width: 50%;
    height: 25px;
    border: 1px solid lightskyblue;
}

input:disabled{
    width: 50%;
    border:none;
}

input:disabled::-webkit-outer-spin-button,
input:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}