div.page{
    /* background: radial-gradient(ellipse at center, #edf1f5 1%, #14171a 95%);  */
    background: linear-gradient(to left bottom, hsl(90, 82%, 85%) 0%,hsl(150, 91%, 86%) 100%);
    height:calc(100vh);
    width:100%;
}

.title{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* span{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
.content{
    background-color: rgba(245, 160, 81, 0.9);
    width:900px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 8px;
    border: 3px solid orange;
}



.back_icon{
    width:80px;
    height: 80px;
    padding-top:20px;
}

svg:hover{
    color:lightskyblue;
    cursor:pointer;
}

button.btn.btn-primary{
    width: 60%;
    border-radius: 30px;
}

button.btn.btn-success{
    width: 60%;
    border-radius: 30px;
}

input{
    background-color: rgba(217, 219, 64, 0.9);
    border-radius:4px;
    border-style: none;
    width: 16%;
}